<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rendimiento</title>
  <style>
      body {
          font-family: Arial, sans-serif;
          background-color: #f4f4f9;
          color: #333;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          margin: 0;
          background-image: url('images/fondo.jpg');
      }

      .container {
          background-color: white;
          padding: 20px;
          border-radius: 8px;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          text-align: center;
      }

      h1 {
          margin-bottom: 20px;
          font-size: 24px;
          color: #444;
      }

      .counter {
          font-size: 18px;
          margin: 10px 0;
      }

      .correct {
          color: #4CAF50;
      }

      .incorrect {
          color: #F44336;
      }

      .button {
          padding: 10px 20px;
          width: 100%;
          padding: 10px;
          background-color: rgba(53,164,247,0.75);
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
      }
      .button:hover {
          background-color: #0056b3;
      }
  </style>
</head>
<body>
<div class="container">
  <h1>Rendimiento</h1>
  <div class="counter correct">Respuestas correctas: <%= @user.correctAnswerCounter %></div>
  <div class="counter incorrect">Respuestas incorrectas: <%= @user.incorrectAnswerCounter %></div>
  <button class="button" onclick="window.location.href='/menu'">Volver al Menú</button>
</div>
</body>
</html>
