<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Texto en el Centro</title>
<style>
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  #texto {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px; /* Espacio entre el texto y los botones */
  }
  #botones {
    display: flex;
    justify-content: space-between;
    width: 80%; /* Ancho de los botones */
  }
  .boton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
</style>
</head>
<body>

<div id="texto">
  <% if Learning.exists?(number: @user.actualLearningLevel2) %>
    <% learning = Learning.find_by(number: @user.actualLearningLevel2) %>
    <%= learning.lesson %>
  <% else %>
    El aprendizaje correspondiente no se encontró.
  <% end %>
</div>
<div id="botones">
  <form action="/actualizar_leccion2" method="post">
    <% nueva_leccion2 = @user.actualLearningLevel2 - 1 %>
    <% nueva_leccion2 = 15 if nueva_leccion2 < 15 %>
    <% nueva_leccion2 = Learning.maximum(:number) if nueva_leccion2 > Learning.maximum(:number) %>
     <!-- Asegurar que el valor no sea menor que 0 ni mayor que el máximo número de elementos -->
    <input type="hidden" name="nueva_leccion2" value="<%= nueva_leccion2 %>">
    <button class="boton">Atrás</button>
  </form>
  <form action="/menu" method="get">
    <button class="boton">Menú</button>
  </form>
  <% nueva_leccion2 = @user.actualLearningLevel2 + 1 %>
  <% nueva_leccion2 = 1 if nueva_leccion2 < 1 %>
  <% if nueva_leccion2 > 19 %>
    <a href="/congratsLevel" class="boton"><button class="boton">Terminar</button></a>
  <% else %>
    <form action="/actualizar_leccion2" method="post">
      <!-- Asegurar que el valor no sea menor que 0 ni mayor que el máximo número de elementos -->
      <input type="hidden" name="nueva_leccion2" value="<%= nueva_leccion2 %>">
      <button class="boton">Adelante</button>
    </form>
  <% end %>
</div>
</body>
</html>
