<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Felicidades! Completaste los 2 niveles</title>
    <style>

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
        
.container {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(71,82,83,0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
        
h1 {
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

.button {
    padding: 10px 20px;
    width: 100%;
    padding: 10px;
    background-color: rgba(53,164,247,0.75);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.button:hover {
    background-color: #0056b3;
}
    
</style>
</head>
<body>

    <div class="container">
        <h1>¡Felicidades! Completaste los 2 niveles.</h1>
        <h1>El tercer nivel es un desafio personal, atraves de la busqueda de elementos 
        y de la tabla deberas resolver un quiz con preguntas especificas 
        y dignas de un experto.</h1>
        <button class="button" onclick="window.location.href='/menu'">Volver al Menú</button>
    </div>

</body>
</html>
