<!DOCTYPE html>
<html>
<head>
    <title>Elements</title>
</head>
<body>
    <ul>
        <% @elements.each do |element| %>
            <li><%= element.Name %></li>
        <% end %>
    </ul>
</body>
</html>